		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								renderHidden : true , 
		_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'pnlOrderModificationTotals'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								renderHidden : true , 
		_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'btnAddPaymentMethod'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								uId : 'extn_sendPaymentLinkBtn' , 
		_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_position : 'after' , 
		_sc_extensibility_referenceUId : 'btnAddPaymentMethod'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Send_Payment_Link')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								renderHidden : true , 
		_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lblAmountToRefund'  
	 					}">
		 	</div>  
		</div>
